body{
    background-color: aliceblue;
}
h1{
    color: aliceblue;
}
/* styles.css */
.side-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Start offscreen */
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    transition: right 0.3s ease;
  }
  
  .side-panel.show {
    right: 0; /* Slide in */
  }
  