.buttonIOT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

  }
  
  button.on {
    background-color: #319bff;
    color: azure;
  }
  
  button.off {
    background-color: rgb(255, 0, 0);
    color: azure;

  }
  
  button div {
    margin-top: 10px;
    font-size: 16px;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  input {
    margin-right: 10px;
  }

  .ccontainer{
    margin:20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 10px  #00000042;

  }

  .boolcontainer{
    box-shadow: 0 6px 10px  #00000042;
    flex: 6;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;

  }
  .boolcontainer2{
    box-shadow: 0 6px 10px  #00000042;
    flex: 3;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;

  }
  .boolcontainer3{
    flex: 3;
    height: 200px;
    margin: 20px;
    border-radius: 50px;

  }

  .maincontainer{
    display: flex;
    flex-direction: row;
  }
  .custom-button1{
    border-radius: 50px;
  }

